# Treat all Dart files as Dart
*.dart linguist-language=Dart

# Ignore native and build folders from language stats
/build/** linguist-vendored=true
/.ios/** linguist-vendored=true
/.android/** linguist-vendored=true
/.gradle/** linguist-vendored=true
