# Treat all Dart files as Dart
*.dart linguist-language=Dart

# Optional: ignore build folder for language stats
/build/** linguist-vendored=true
.ios/** linguist-vendored=true
.android/** linguist-vendored=true
